@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F1263349%2Fpexels-photo-1263349.jpeg%3Fcs%3Dsrgb%26dl%3Dpeople-doing-swim-race-1263349.jpg%26fm%3Djpg&f=1&nofb=1&ipt=425dbd3e7a4817687e7f3dcf7f74e21b1d459b563eecd2e94be25205f2ab4e04&ipo=images) no-repeat center center / cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 25%;
    height: 250px;
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 0 0 8px;
}

#timer {
    width: 100%;
    font-size: 4em;
    text-align: center;
    margin: 0 auto;
    padding: 35px;
}

.buttons {
    text-align: center;
}

button {
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

button i {
    font-size: 2em;
    padding: 10px;
    color: whitesmoke;
    width: 50px;
}

#play {
    background-color: green;
}

#pause {
    background-color: orange;
}

#reset {
    background-color: red;
}

/* add responsiveness */